<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Market Point
			{% endblock %}
		</title>
		<LINK rel="shortcut icon" href="{{ asset('images/Logo-Market-Point-V2.ico') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
		{% endblock %}
	</head>

	<body onload="myFunction()">
		{% block body %}

			<header>
				<img class="logo-m" src="{{ asset('images/Logo Market Point V2.png') }}" alt="logo">
				<img class="logo-gr" src="{{ asset('images/groupe-renault.png') }}" alt="logo">
			</header>

			<img id="loader" src="{{ asset('images/Logo Market Point V2.png') }}" alt="logo">

		{% endblock %}
	</body>
</html>

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ asset('javascript/loader.js') }}"></script>
{% endblock %}
